@charset "ISO-8859-1";

.container1{
	background-color: #8080ff;
	text-align: center;
	height: 100vh;
}
.container2{
	background-color: #8080c0;
		text-align: center;
		height: 100vh;
}
.bank{
	text-align: center;
	color: navy;
}
